{% extends "base.html" %}

{% block content %}
{% load static %}
<h1>Guide to Participating in Both the Team Step Challenge and MPC Munro Step Challenge</h1>

<p>Yes, you can participate in BOTH the MPC Munro Step Challenge AND the Ambassador Group Challenge – here’s how.</p>
<ol>
    <li>To participate as an individual in the MPC Munro Step Challenge ( you will log your own steps in the main challenge): You need to make a justgiving page for yourself ( here are the instructions from MPC).  It’s that simple.</li>
    <li>To participate in the Team Challenge:  you need to register at the following link and choose an Ambassador Group for whom you’re logging steps.  It’s also that simple.</li>
</ol>
<p>The questions that arise are:</p>
<p><b>Where do I log steps if I am participating in BOTH the MPC challenge ( I have an individual justgiving page)  and the Team Challenge?</b></p>
<p>You will need to report your steps to your justgiving page  AND the team challenge site</p>
<p><b>I don’t want to report my steps in two places -what can I do?</b></p>
<p>Some participating Ambassador Groups will be reporting the total steps from the Team Challenge to their group’s justgiving page - so their members do not need to log steps both in the team challenge AND the MPC site  and they do not. It is a choice of the Ambassador Group admins whether or not they do this.   So, it is important for you to ask your ADMIN whether they plan to report the total step counts from the Team Challenge to the group’s munrostepchallenge justgiving page. </p>
<p>In the end, if you do not want to report your steps in both places, we encourage you to report your steps to the MPC Munro Step Challenge justgiving page.  Remember, the Team Challenge is a fun additional activity that supports the Munro Step Challenge, it does not replace it.</p>

{% endblock content %}  

