{% extends "base.html" %}

{% block title %}Challenge Login{% endblock title %}

{% block content %}
<h1>Please Login</h1>

<form method="post" action="{% url 'login' %}">
<table>
    {{ form.as_table }}
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="login"></td>
    </tr>
</table>
<p>Not registered yet? <a href="{% url 'peaker_register' %}">Register here</a>.</p>
<p>Forgot your password?  Email <tt>teamstepchallenge2023@gmail.com</tt> with your username for a password reset.</p>
<input type="hidden" name="next" value="{{ next }}"/>
{% csrf_token %}
</form>

{% endblock content %}