{% extends "base.html" %}

{% block title %}Peaker Registration{% endblock title %}

{% block content %}
<h1>Peaker Registration</h1>
<p>Enter your username and password to register.</p>
<p>Your username will be the name your steps are displayed under.</p>

<form method="post" action="">
<table>
    {{ form.as_table }}
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Register"></td>
    </tr>
</table>
<input type="hidden" name="next" value="{{ next }}" />
{% csrf_token %}
</form>

{% endblock content %}