{% extends "base.html" %}

{% block title %}User Registration Success{% endblock title %}

{% block content %}
<h1>User Registration Success</h1>
<p>You have successfully registered, and can login once you click the link in the email we have just sent.</p>
<p>Check your inbox, and if it isn't there in a few minutes, check your Spam folder!</p>
<p>Once you have clicked the link in the email, then you can login and enter steps.</p>
<p>Welcome to the Team Step Challenge!</p>

{% endblock content %}