{% extends "base.html" %}

{% load static %}
{% block title %}Teams{% endblock title %}
{% block content %}
<h1>Teams for the 2022 Munro Team Step Challenge</h1>
  <p>This year, Teams are named after trees of the world.</p>
  <img src={% static 'StepChallenge2022Teams.jpg' %}
   alt="Team Oak;Team Cedar;Team Mangrove;Team Acacia;Team Maple;Team Rowan;Team Birch;Team Aspen" 
   usemap="#teammap"
   style="width: 600px;">
  <map name="teammap">
    <area shape="rect" coords="327,25,542,60" alt="Team Oak" href="/teams/Oak">
    <area shape="rect" coords="327,60,542,98" alt="Team Cedar" href="/teams/Cedar">
    <area shape="rect" coords="327,98,542,131" alt="Team Mangrove" href="/teams/Mangrove">
    <area shape="rect" coords="327,131,542,170" alt="Team Acacia" href="/teams/Acacia">
    <area shape="rect" coords="327,170,542,212" alt="Team Maple" href="/teams/Maple">
    <area shape="rect" coords="327,212,542,252" alt="Team Rowan" href="/teams/Rowan">
    <area shape="rect" coords="327,252,542,292" alt="Team Birch" href="/teams/Birch">
    <area shape="rect" coords="327,292,542,325" alt="Team Aspen" href="/teams/Aspen">
  </map>

  <ul>
    {% for team in team_list %}
    <li><a href={% url 'team_page' team.name %} style="color:{{team.color}};">{{team.name}}</a></li>
    {% endfor %}
  </ul>
  {% endblock content %}