{% extends "base.html" %}

{% block content %}
{% load static %}
{% load humanize %}
<h1>Welcome to the {{ phase.challenge_name }}</h1>

<p>Our Goal: 30 days and 500 million steps for charity.</p>
<p>The Reason:  September is  Blood Cancer Awareness Month-we are raising awareness and funds for Blood Cancer UK. They really appreciate our enthusiasm and support.</p>
<center><h2>This year, we have walked <b><mark style="background-color: #B885C4;padding: 3px;">{{ global_total|intcomma }}</mark></b> steps so far.</h2></center>
<center><h2>At this rate, we will reach the moon on <strong>Day 40</strong></h2></center>
<center style="margin-top: 40px;"><img src={% static 'Teams_Day21_graphic.png' %} width="75%" /></center>
<p>The <strong>Team Step Challenge</strong> is an add on to the
<a href="https://www.munrostepchallenge.com/"><strong>MPC Munro Step Challenge</strong></a>. 
This is run by Peaker volunteers, not by MPC. We hope our webpage makes it easy to participate in both. See links at the bottom of the page for 
more information on the MPC Step Challenge and tips and guides for how to best participate.</p>
<p>~Mike and Cheryl</p>

{% if user.is_authenticated %}
  <div class="boxed">
    <p>You are registered as <strong>{{ user.username }}</strong></p>
    {% if user.profile.team %}
      <p>You are on {% include 'teams/team_link.html' with team=user.profile.team %}</p> 
    {% endif %}
    {% if user.profile.group %}
      <p>You are part of <strong>{{ user.profile.group }}</strong></p>
    {% endif %}
    <p>You have walked {{total_steps|intcomma}} steps so far--{% if total_steps %}Keep it up{% else %}Let's get going{% endif %}!</p>
    <p>You can modify your user profile (password, group, metric or US units) <a href="peaker/">here</a>.</p>
  </div>
  
{% else %}
  {% if phase.allow_registration %}
  <p>You can register to participate <a href={% url 'peaker_register' %}>here</a>.</p>
  <p>Or if you have already registered, you can login <a href="{% url 'login' %}?next=/">here</a>.</p>
  {% else %}
  <p>Step counting begins September 1!</p>
  {% endif %}
{% endif %}
<hr>
<div class="guide_row">
  <div class="guide_col">
    <a href="https://prismic-io.s3.amazonaws.com/virtual-events/262ab860-001f-45bc-b897-f14af2e1667e_Moonro+Challenge+-+Making+your+fundraising+page.pdf">
      <figure style="margin:5px;">
        <img src="/static/MPCMunroStepChallenge2023.png" alt="MPC Set Up Fundraising" style="width:100px;height:100px;">
        <figcaption style="width:100px;">MPC's Guide to Setting up Fundraising</figcaption>
      </figure>
    </a>
  </div>
  <div class="guide_col">
    <a href="https://prismic-io.s3.amazonaws.com/virtual-events/f8e25fd5-cd50-4f7d-85bb-2f18e2547b12_Moonro+Challenge+-+How+to+log+your+steps+manually.pdf">
      <figure style="margin:5px;">
        <img src="/static/MPCMunroStepChallenge2023.png" alt="MPC Log Steps" style="width:100px;height:100px;">
        <figcaption style="width:100px;">MPC's Guide to Logging Steps</figcaption>
      </figure>
    </a>
  </div>
  <div class="guide_col">
    <a href={% url 'mpc_guide' %}>
        <figure style="margin:5px;">
            <img src="/static/TSC2023Logo.jpg" alt="Our Guide for 2023" style="width:100px;height:100px;">
            <figcaption style="width:100px;">Our Guide to Participating in Both Challenges</figcaption>
        </figure>
    </a>
  </div>
</div>

{% endblock content %}