{% extends "base.html" %}

{% block content %}
<h1>Welcome to the Munro Step Challenge - Team Challenge 2022 </h1>
  <p>This is our fifth team challenge and we're hoping to make it our best yet.
  We have our own website this year for one-stop shopping - registration, daily input, reports, FAQ.</p> 
  <p>Once again 8 Super Teams of peakers will work together to complete this year's "Walk around the World" challenge.  There'll be some friendly team competition too.</p>
  <p>And remember - we are doing this for Blood Cancer Awareness Month and to help Blood Cancer UK. They really appreciate our enthusiasm and support.</p>
  <p><b><i>So, are we ready to break that billion step count together this year!?!</i></b></p>
  <p>~Mike and Cheryl</p>

  
  {% if user.is_authenticated %}
  <p style="border-width: 2px;border-style: solid;border-color: black; padding: 1em">You are registered as <strong>{{ user.username }}</strong><br>
  {% if user.profile.group %}
  <p>You will participate on the same team as other members of <strong>{{ user.profile.group }}</strong></p>
  <p>... which is <strong style="color:{{user.profile.team.color}};"">{{user.profile.team}}</strong></p>
  {% else %}
  {% if user.profile.team %}
  <p>You are on team <strong style="color:{{user.profile.team.color}};">{{user.profile.team}}</strong></p>
  {% else %}
  We will pick a team for you by August 31st.
  {% endif %}
  {% endif %}
  </p>
  <p>Want to change what MPC Group you are teamed with?  You can modify your profile <a href="peaker/">here</a>.</p>
  
  {% else %}
  <p>You can register to participate <a href="/register">here</a>.</p>
  <p>Or if you have already registered, you can login <a href="{% url 'login' %}?next=/">here</a>.</p>
  {% endif %}
  {% endblock content %}