{% extends "base.html" %}

{% block content %}
{% load static %}
<h1>Welcome to the Munro Step Challenge-Team Challenge 2022 </h1>

<p>Our Goal: 30 days and 450 Million steps together as we circumnavigate the world at the equator. </p>
<p>The Reason:  September is  Blood Cancer Awareness Month-we are raising awareness and funds for Blood Cancer UK. They really appreciate our enthusiasm and support.</p>
<p>~Mike, Cheryl and Megan</p>

{% if user.is_authenticated %}
  <div class="boxed">
    <p>You are registered as <strong>{{ user.username }}</strong></p>
    <p>You are on {% include 'teams/team_link.html' with team=user.profile.team %}</p> 
    {% if user.profile.group %}
      <p>You are part of <strong>{{ user.profile.group }}</strong></p>
    {% endif %}
    <p>You have walked {{total_steps}} steps so far--{% if total_steps %}Keep it up{% else %}Let's get going{% endif %}!</p>
    <p>You can modify your user profile (password, group, metric or US units) <a href="peaker/">here</a>.</p>
  </div>
  
{% else %}
  <p>You can register to participate <a href={% url 'peaker_register' %}>here</a>.</p>
  <p>Or if you have already registered, you can login <a href="{% url 'login' %}?next=/">here</a>.</p>
{% endif %}

<h2>Team Challenge 2022 - Progress to Date </h2> 
<p style="text-align: left;">As of 16 September 2022: 250 million steps or 181,000 kilometers.</p>
<img src={% static 'TSC2022mapping_week2.jpg' %} alt="map of the world" width="600" />
<img src={% static 'EqualtorialCircumnavigationLegs.jpg' %} alt="table of steps" width="600" />

{% endblock content %}