.Beech {
    color: #5F2E55;
}

.Cedar {
    color: DarkRed;
}

.Aspen {
    color: #D4AC0D;
}

.Maple {
    color: DarkOrange;
}

.Birch {
    color: Silver;
}

.Rowan {
    color: Red;
}

.Mangrove {
    color: LightSeaGreen;
}

.Acacia {
    color: Olive;
}

.Oak {
    color: DarkGreen;
}