.STORM {
    color: #6E0B99;
}

.WAVES {
    color: #0612D6  ;
}

.VAPORS {
    color: #606F85;
}

.ISLANDS {
    color: #FF9816;
}

.CLOUDS {
    color: #E60F39;
}

.SERENITY {
    color: #378B18;
}

.TRANQUILITY {
    color: #048093;
}

.Unassigned {
    color: black;
}