{% extends "base.html" %}

{% block title %}Participating Groups{% endblock title %}

{% block content %}
<h1>Groups Participating in the Team Step Challenge</h1>
  <table>
    <tr>
      <th>Group</th>
      <th>Registered</th>
      <th>Team</th>
    </tr>
    <tr><td>Total Peakers</td><td style="text-align: center">{{total_peakers}}</td></tr>
    {% for group in group_list %}
    <tr class="{% cycle 'odd_row' 'even_row' as rowstyle %}">
      <td><a href={% url 'group_report' group.name %}>{{group.name}}</a></td>
      <td style="text-align:center">{{group.count}}</td>
      <td>
        {% if group.team %}
        {% include 'teams/team_link.html' with team=group.team %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    <tr><td>&nbsp;</td></tr>
    <tr><td>Registered without a group:</td><td style="text-align:center">{{no_group_count}}</td></tr>
  </table>
  {% endblock content %}