{% extends "base.html" %}

{% block title %}Register Ambassador Group for Team Step Challenge{% endblock title %}

{% block content %}
<h1>Register your MPC Ambassador Group for the Team Step Challenge</h1>

{% if submitted %}
    <p class="success">
        Your group or groups were successfully registered.
    </p>

{% else %}
    Greetings, MPC Ambassador Group Administrators!

    <p>Welcome to our 5th Annual Munro Step Team Challenge! Once again we will be creating eight super <b>Teams</b> of peakers for our fun team event.</p>

    
    <p>By adding your <em>Ambassador Group</em> to our list now, Peakers will be able to register as a member of your group for the event.  We
    then can ensure all your members are placed on the same Team.</p>

    <p>We will do our best to answer questions and fix problems that arise during the step challenge.  We are asking you, as admins, to be available to help your members 
    with web navigation and understanding the instructions and event rules, just the way that Ambassador admins always help their members!</p>
    <form action="" enctype="multipart/form-data" method="post" novalidate>
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
{% endif %}
{% endblock content %}