{% extends "base.html" %}

{% block title %}{{group}}{% endblock title %}

{% block content %}
<h1 class="boxed" style="text-align: center;">{{group}}</h1>
<table class="mpcreport">
  <caption><em>Daily Totals</em></caption>
  <thead>
    <tr><th>Date</th><th>Steps</th><th>{{unit_name}}</th></tr>
  </thead>
  <tbody>
    {% for day_total in day_totals %}
    <tr class="{% cycle 'odd_row' 'even_row' as rowstyle %}">
      <td style="text-align: left";>{{day_total.day}}</td>
      <td>{{day_total.steps}}</td>
      <td>{{day_total.distance|floatformat:2}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<table class="mpcreport">
  <caption><em>Peaker Totals</em><a href="{% url 'group_report' group %}?sorted=False" style="padding-right: 1em;padding-left: 1em;"><small>Alpha</small></a><a href="{% url 'group_report' group %}?sorted=True"><small>Top Steps</small></a></div>
    <thead>
      <tr><th>Peaker</th><th>Steps</th></tr>
    </thead>
    <tbody>
      {% for peaker_total in peaker_totals %}
      <tr class="{% cycle 'odd_row' 'even_row' as rowstyle %}">
        <td style="text-align: left">{{peaker_total.peaker}}</td>
        <td>{{peaker_total.steps}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
<p><a href={% url 'group_members' group %}>Complete Member List</a></p>
<p>{% now "M d Y" %}</p>
{% endblock content %}