{% extends "base.html" %}

{% block title %}{{group}}{% endblock title %}

{% block content %}
{% load humanize %}
<h1 class="boxed" style="text-align: center;">{{group}}</h1>
<table class="mpcreport">
  <caption><em>Daily Totals</em></caption>
  <thead>
    <tr><th>Date</th><th>Steps</th><th>{{unit_name}}</th></tr>
  </thead>
  <tbody>
    {% for day_total in day_totals %}
    <tr class="{% cycle 'odd_row' 'even_row' as rowstyle %}">
      <td style="text-align: left";>{{day_total.day}}</td>
      <td>{{day_total.steps|intcomma}}</td>
      <td>{{day_total.distance|floatformat:2}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<table class="mpcreport">
  <caption><em>Peaker Totals</em><a href="{% url 'group_report' group %}?sort=Alpha" style="padding-right: 1em;padding-left: 1em;"><small>Alpha</small></a><a href="{% url 'group_report' group %}?sort=Steps"><small>Top Steps</small></a>
  {% if show_teams %}
    <a href="{% url 'group_report' group %}?sort=Team" style="left-padding: 2em;"><small>Team</small></a>
  {% endif %}
  </div>
    <thead>
      <tr><th>Peaker</th><th>Steps</th>
        {% if show_teams %}
        <th>Team</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for peaker_total in peaker_totals %}
      <tr class="{% cycle 'odd_row' 'even_row' as rowstyle %}">
        <td style="text-align: left"><a href={% url 'step_report' peaker_total.peaker|urlencode %}>{{peaker_total.peaker}}</a></td>
        <td>{{peaker_total.steps|intcomma}}</td>
        {% if show_teams and peaker_total.team %}
          <td>{% include 'teams/team_link.html' with team=peaker_total.team %}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
</table>
<p><a href={% url 'group_members' group %}>Complete Member List</a></p>
<p>{% now "M d Y" %}</p>
{% endblock content %}