{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Confirm Your Steps" %}{% endblock title %}

{% block content %}
<h1>{% translate "Confirm Your Steps" %}</h1>

{% if submitted %}
    <p class="success">
        {% translate "Your steps were successfully entered." %}
    </p>
    <p>{% translate "To enter more steps click" %} <a href="{% url 'step_entry' %}">{% translate "here" context "Link text" %}</a>.</p>
{% else %}
    <p>{{ step_count_warning|safe }}</p>
    <p>{% translate "Are you sure?" %}</p>
        <table>
            <tr>
                <td>
                    <form action="{% url 'step_entry' %}">
                        <input type="submit" value="{% translate "Go back, try again." %}"" />
                    </form>
                </td>
                <td>
                    <form action="" enctype="multipart/form-data" method="post" novalidate>
                        {{ form.date.as_hidden }}
                        {{ form.steps.as_hidden }}
                        {% csrf_token %}
                        <input type="submit" value="{% translate "I'm sure" %}"">
                    </form>
                </td>
            </tr>
        </table>

    </form>
{% endif %}
{% endblock content %}