{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Confirm Your Steps" %}{% endblock title %}

{% block content %}
<h1>{% translate "Confirm Your Steps" %}</h1>

{% if submitted %}
    <p class="success">
        {% translate "Your steps were successfully entered." %}
    </p>
    <p>{% translate "To enter more steps, click" %} <a href="{% url 'step_entry' %}">{% translate "here" context "Link Text" %}</a>.</p>
{% else %}
    <p>{{ duplicate_step_warning }}</p>
    <p>{% translate "Which do you want to do?" %}</p>
        <table>
            <tr>
                <td>
                    <form action="{% url 'index' %}">
                        <input type="submit" value="{% translate "Nevermind." %}"" />
                    </form>
                </td>
                <td>
                    <form action="" enctype="multipart/form-data" method="post" novalidate>
                        {{ form.date.as_hidden }}
                        {{ form.steps.as_hidden }}
                        {% csrf_token %}
                        <input type="submit" value="{{ overwrite_button }}" autofocus>
                    </form>
                </td>
                <td>
                    <form action="" enctype="multipart/form-data" method="post" novalidate>
                        {{ form.date.as_hidden }}
                        <input type="hidden" id="steps" name="steps" value="{{sum_steps}}">
                        {% csrf_token %}
                        <input type="submit" value="{% translate "Add them together" %}"">
                    </form>
                </td>
            </tr>
        </table>

    </form>
{% endif %}
{% endblock content %}