{% extends "base.html" %}

{% block title %}Recorded Steps{% endblock title %}

{% block content %}
<h1>Recorded Steps</h1>

<p>We have the following days steps recorded for you:</p>
<table style="border: 1px solid black;width: 100%;">
    <tr><th style="text-align: center;"">Date</th><th style="text-align: center;"">Steps</th><th style="text-align: center">{{unit_name}}</th></tr>
    {% for se in steps %}
    <tr class="{% cycle 'odd_row' 'even_row' as rowstyle %}">
        <td style="border: 1px solid black;">{{se.day}}</td>
        <td style="border: 1px solid black;text-align:right;">{{se.steps}}</td>
        <td style="border: 1px solid black;text-align: right;">{{se.distance|floatformat:2}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}