{% extends "base.html" %}

{% block title %}Recorded Steps{% endblock title %}

{% block content %}
{% load humanize %}
<h1>Recorded Steps</h1>

<p>We have the following days steps recorded for you:</p>
<table class="mpcreport">
  <thead>
    <tr><th>Date</th><th>Steps</th><th>{{unit_name}}</th></tr>
  </thead>
  <tbody>
    {% for se in steps %}
    <tr class="{% cycle 'odd_row' 'even_row' %}">
        <td style="text-align: left;">{{se.day}}</td>
        <td>{{se.steps|intcomma}}</td>
        <td>{{se.distance|floatformat:2}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}